$font-main: "Gilroy", sans-serif;

$color-bg: white;
$color-bg1: #539bf5;
$color-hover: #539bf5;
$color-text: black;

%font-default {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 400;
}

%font-thin {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 100;
  color: white;
}

%font-title {
  font-size: 5rem;
  line-height: 6.2rem;
  font-weight: 600;
}

