$font-main: "TT-Norms-Pro", sans-serif;

$color-bg1: #539bf5;
$color-hover: #539bf5;
$color-bg-dark: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
$color-text-dark: white;
$color-bg-light: white;
$color-text-light: black;
$primary: #4f2edc;
$primary-light: #947ada;
$gray: #9a9999;
$color-noun: #a27af3;
$color-adjective: #e68578;
$color-verb: #7cc0bb;
$color-other: #cdb2a0;

$hover-noun: #805ace;
$hover-adjective: #ce6456;
$hover-verb: #1b978f;
$hover-other: #a57250;

%font-small {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 700;
}

%font-default {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: white;
}

%font-btn {
  font-size: 2.5rem;
  line-height: 3.1rem;
  font-weight: bold;
}

%font-title {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: bold;
}

%btn-hover-dark {
  border-color: black;
  background: white;
  color: black;
}

%btn-hover-light {
  border-color: white;
  background: black;
  color: white;
}
