@import "../../styles/variables.scss";

.main {
  flex: 1 0 auto;
  height: 71.5vh;
  &_light {
    background: $color-bg-light;
  }
  &_dark {
    background: $color-bg-dark;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 850px) {
  .main {
    height: auto;
  }
}
