@import "../../styles/variables.scss";

.main {
  flex: 1 0 auto;
  height: 71.5vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 850px) {
  .main{
    height: auto;
  }
}
