@import "../../../styles/variables.scss";

.profile {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    height: 55vh;
    &_light {
      border: 1px solid black;
    }
    &_dark {
      border: 1px solid white;
    }
  }
  &_info_inner {
    padding: 2rem;
    display: flex;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    width: 100%;
  }
  &_avatar {
    background: url("../../../assets/image/avatar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 27rem;
    height: 22rem;
    border-radius: 50%;
  }
  &_name {
    @extend %font-title;
    margin-bottom: 2rem;
  }
  &_name_text {
    @extend %font-title;
    margin: 0;
    margin-left: 1rem;
  }
  &_level {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
  }
  &_level_text {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  &_progress {
    margin-top: 8.5rem;
  }
  &_progress_text {
    display: inline;
  }
  &_progress_text_value {
    display: inline;
    margin-left: 1rem;
  }
  &_progress_line {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.5rem;
    margin-top: 2rem;
    &_light {
      background: #5a5a5a;
    }
    &_dark {
      background: #5a5a5a;
    }
  }
  &_progress_line_inner {
    height: 0.5rem;
    transition: all 0.5s;
    border-radius: 0.5rem;
    &_light {
      background: green;
    }
    &_dark {
      background: #ffffff;
    }
  }
  &_btn_inner {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  &_btn {
    @extend %font-btn;
    background: transparent;
    text-decoration: none;
    text-align: center;
    padding-top: 2rem;
    height: 7.5rem;
    width: 32rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: ease 0.5s;
    &_light {
      background: $color-bg-light;
      color: $color-text-light;
      border: 1px solid black;
    }
    &_dark {
      background: transparent;
      color: $color-text-dark;
      border: 1px solid white;
    }
    &_light:hover {
      @extend %btn-hover-light;
    }
    &_dark:hover {
      @extend %btn-hover-dark;
    }
    &_light:active {
      @extend %btn-hover-light;
    }
    &_dark:active {
      @extend %btn-hover-dark;
    }
  }
  &_text_light {
    color: $color-text-light;
  }
  &_text_dark {
    color: $color-text-dark;
  }
}

@media (max-width: 980px) {
  .profile {
    &_name {
      font-size: 4rem;
    }
    &_name_text {
      font-size: 3rem;
    }
    &_level {
      font-size: 3rem;
    }
    &_level_text {
      font-size: 3rem;
    }
  }
}
