@import "../../../styles/variables.scss";

.profile {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    min-height: 55vh;
  }
  &_info_inner {
    padding: 2rem;
    display: flex;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    width: 100%;
  }
  &_avatar {
    background: url("../../../assets/image/avatar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 27rem;
    height: 22rem;
    border-radius: 50%;
  }
  &_name {
    @extend %font-title;
    margin-bottom: 2rem;
  }
  &_name_text {
    @extend %font-title;
    margin: 0;
    margin-left: 1rem;
  }
  &_level {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
  }
  &_level_text {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    margin-left: 1rem;
  }
  &_progress {
    margin-top: 8.5rem;
  }
  &_progress_text {
    display: inline;
  }
  &_progress_text_value {
    display: inline;
    margin-left: 1rem;
  }
  &_progress_line {
    width: 100%;
    background: #ffffff;
    height: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  &_progress_line_inner {
    background: #ff2253;
    height: 0.5rem;
    transition: all 0.5s;
    width: 17%;
    border-radius: 0.5rem;
  }
  &_btn_inner {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  &_btn {
    @extend %font-btn;
    background: transparent;
    text-decoration: none;
    text-align: center;
    padding-top: 2rem;
    border: 1px solid #000000;
    color: #000;
    height: 7.5rem;
    width: 32rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: ease 0.5s;
    &:hover {
      @extend %btn-hover;
    }
    &:active {
      @extend %btn-hover;
    }
  }
}
