@import "../../../styles/variables.scss";

.profile {
  margin-top: 15rem;
  &_inner {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    padding: 7rem 6rem;
    &_light {
      border: 1px solid black;
    }
    &_dark {
      background: #0e121a;
      border: none;
    }
  }
  &_info_inner {
    display: flex;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6rem;
    width: 100%;
  }
  &_avatar {
    position: relative;
    transition: all 0.5s;
    max-width: 22rem;
    width: 100%;
    &:hover .profile_avatar_download {
      opacity: 1;
      z-index: 0;
      transform: translateY(0rem);
    }
  }
  &_avatar_img {
    max-width: 22rem;
    width: 100%;
    height: 22rem;
    border-radius: 2rem;
  }
  &_avatar_download {
    width: 100%;
    text-align: center;
    background: rgba(27, 27, 27, 0.5);
    height: 8rem;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(-4rem);
  }
  &_update_text {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 500;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    &:hover {
      color: #539bf5;
    }
    &::after {
      content: "";
      position: absolute;
      left: 2rem;
      background: url("../../../assets/svg/update_photo.svg");
      background-size: cover;
      width: 1.5rem;
      height: 1.6rem;
      top: 0.1rem;
      transition: ease-in-out 1s;
    }
  }
  &_change_text {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    &:hover {
      color: #539bf5;
    }
    &::after {
      content: "";
      position: absolute;
      left: 2rem;
      background: url("../../../assets/svg/change_photo.svg");
      background-size: cover;
      width: 1.5rem;
      height: 1.5rem;
      top: 0.2rem;
      transition: ease-in-out 1s;
    }
  }
  & &_name {
    font-size: 2.2rem;
    line-height: 3.1rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  &_name_text {
    font-size: 2.2rem;
    line-height: 3.1rem;
    color: #9e9e9e;
    margin-left: 1rem;
    font-weight: 500;
  }
  &_level {
    font-size: 2.2rem;
    line-height: 3.1rem;
    font-weight: 500;
  }
  &_level_text {
    font-size: 2.2rem;
    line-height: 3.1rem;
    color: #9e9e9e;
    margin-left: 1rem;
    font-weight: 500;
  }
  &_progress {
    margin-top: 8rem;
  }
  &_progress_text {
    display: inline;
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: 500;
  }
  &_progress_text_value {
    display: inline;
    margin-left: 1rem;
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-weight: 500;
  }
  &_progress_line {
    width: 40rem;
    height: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 2rem;
    &_light {
      background: #242d38;
    }
    &_dark {
      background: #242d38;
    }
  }
  &_progress_line_inner {
    height: 1rem;
    transition: all 0.5s;
    border-radius: 0.5rem;
    &_light {
      background: linear-gradient(89.99deg, #ffb83f 0%, #e68578 101.56%);
    }
    &_dark {
      background: linear-gradient(89.99deg, #ffb83f 0%, #e68578 101.56%);
    }
  }
  &_btn_inner {
    display: flex;
    justify-content: right;
    margin-top: 3rem;
  }
  &_btn {
    @extend %font-btn;
    background: transparent;
    text-decoration: none;
    text-align: center;
    padding-top: 2rem;
    height: 7.5rem;
    width: 32rem;
    border-radius: 4rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: ease 0.5s;
    &_light {
      background: $color-bg-light;
      color: $color-text-light;
      border: 1px solid black;
    }
    &_dark {
      background: #e68578;
      color: $color-text-dark;
    }
    &_light:hover {
      @extend %btn-hover-light;
    }
    &_dark:hover {
      @extend %btn-hover-dark;
    }
    &_light:active {
      @extend %btn-hover-light;
    }
    &_dark:active {
      @extend %btn-hover-dark;
    }
  }
}

.profile_update_text:hover::after {
  transform: rotate(180deg);
}

.profile_change_text:hover::after {
  transform: rotate(360deg);
}

@media (max-width: 980px) {
  .profile {
    &_name {
      font-size: 4rem;
    }
    &_name_text {
      font-size: 3rem;
    }
    &_level {
      font-size: 3rem;
    }
    &_level_text {
      font-size: 3rem;
    }
  }
}
