@import "../../styles/variables.scss";

.header {
  flex: 0 0 auto;
  background: $color-bg;
  height: 12vh;
  padding-top: 4rem;
  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_logo {
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 700;
    color: $color-text;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      color: $color-hover;
    }
  }
  &_logo_fix {
    margin-left: -10rem;
  }
}

.container {
  max-width: 120rem;
  padding: 0;
  margin: 0 auto;
}
