@import "../../styles/variables.scss";

.header {
  flex: 0 0 auto;
  background: $color-bg;
  height: 12vh;
  padding-top: 4rem;
  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_logo {
    margin-left: 15rem;
  }
}

.menu {
  margin-right: 15rem;
}
