@import "../../styles/variables.scss";

.footer {
  flex: 0 0 auto;
  background: $color-bg;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.authors {
  margin: 1rem 3rem 1rem 0;
}

.names {
  font-weight: 100;
  font-size: 1.3rem;
  color: $color-text;
  margin: 0;
  display: block;
  text-decoration: none;
  transition: all 0.5s;
  line-height: 2rem;
  &:hover {
    color: $color-hover;
  }
}

.year {
  font-weight: 100;
  font-size: 1.4rem;
  color: $color-text;
  margin: 0;
  margin-left: 3rem;
}
