@import "../../styles/variables.scss";

.footer {
  flex: 0 0 auto;
  height: 7.5vh;
  transition: all 0.5s;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.authors {
  margin: 2rem 3rem 1rem 0;
}

.names {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.7;
  display: block;
  text-decoration: none;
  transition: all 0.5s;
  line-height: 2rem;
  &_light {
    color: $color-text-light;
  }
  &_dark {
    color: $color-text-dark;
  }
  &:hover {
    color: $color-hover;
  }
}

.year {
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0.7;
  margin: 1rem 0 0 3rem;
  transition: all 0.5s;
  &_light {
    color: $color-text-light;
  }
  &_dark {
    color: $color-text-dark;
  }
}

@media (max-width: 420px) {
  .year {
    margin-left: 1rem;
  }
  .authors {
    margin-right: 1rem;
  }
}
