@import "../../../styles/variables.scss";

.welcome {
  &_figure {
    width: 40rem;
    height: 40rem;
    border: none;
    outline: none;
    margin: 0 auto;
    background: url(../../../assets/image/cub.png);
    background-position: center;
    background-repeat: no-repeat;
    animation: 10s linear 0s normal none infinite running rotate;
  -webkit-animation: 10s linear 0s normal none infinite running rotate;
  }
  &_bg {
    margin: 0;
    height: 85vh;
    font-weight: 100;
    background: white;
    -webkit-overflow-y: hidden;
    -moz-overflow-y: hidden;
    -o-overflow-y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
  }
  &_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &_text {
    @extend %font-title;
    color: $color-text;
    max-width: 60rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba($color-hover, 0);
    opacity: 0.5;
    text-align: center;
    &::placeholder {
      color: $color-text;
    }
  }
  &_btn {
    border: 2px solid white;
    background: transparent;
    color: $color-text;
    border: 1px solid black;
    width: 25rem;
    font-size: 4rem;
    height: 6rem;
    opacity: 0.5;
    transition: 0.3s;
    margin-top: 4rem;
    border-radius: 4rem;
    &:hover {
      border: 2px solid pink;
      background-color: rgba(365, 365, 365, 0.5);
      cursor: pointer;
      color: $color-hover;
      opacity: 0.8;
      transition: 0.3s;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
