@import "../../../../styles/variables.scss";

.answers {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid white;
    border-radius: 4rem;
    min-height: 55vh;
    padding: 2rem;
    position: relative;
    transition: all 0.5s;
  }
  &_title {
    @extend %font-title;
    line-height: 4rem;
    text-align: center;
    top: 3rem;
  }
  &_items {
    height: 36vh;
  }
  &_items_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: #000000;
  }
  &_items_lists {
    list-style: none;
    padding: 0;
    border-radius: 4rem;
    padding: 2rem;
    max-width: 35rem;
    width: 100%;
  }
  &_items_lists_1 {
    background: #e3ddfe;
  }
  &_items_lists_2 {
    background: #ffeecd;
  }
  &_items_lists_3 {
    background: #dceced;
  }
  &_item_list {
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    &:hover {
      color: $color-hover;
    }
    &:active {
      color: $color-hover;
    }
  }
  &_pages {
    position: absolute;
    bottom: 2rem;
    left: 5%;
  }
  &_page {
    margin-right: 3rem;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  &_clear {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 400;
    text-align: center;
    margin-top: 15rem;
  }
  &_hiden {
    visibility: hidden;
    opacity: 0;
    user-select: none;
    outline: none;
    border: none;
  }
  &_page_active {
    color: $color-hover;
  }
}
