@import "../../../../styles/variables.scss";

.answers {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    min-height: 55vh;
    padding: 2rem;
    position: relative;
    transition: all 0.5s;
  }
  &_title {
    @extend %font-title;
    line-height: 4rem;
    text-align: center;
    top: 3rem;
  }
  &_items_list {
    display: flex;
    justify-content: space-around;
  }
  &_items_lists {
    list-style: none;
    padding: 0;
    margin-right: 5rem;
  }
  &_item_list {
    margin-bottom: 2rem;
  }
  &_pages {
    position: absolute;
    bottom: 2rem;
    left: 5%;
  }
  &_page {
    margin-right: 3rem;
  }
}
