@import "../../../../styles/variables.scss";

.answers {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    min-height: 55vh;
    padding: 2rem;
    position: relative;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &_title {
    @extend %font-title;
    line-height: 4rem;
    text-align: center;
    position: absolute;
    top: 3rem;
  }
  &_item {
    width: 100%;
    margin-bottom: 1rem;
  }
  &_eng {
    margin-right: 5rem;
  }
}
