@import "../../../styles/variables.scss";

.items {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 3rem;
}

.link {
  @extend %font-small;
  opacity: 0.7;
  text-decoration: none;
  transition: all 0.5s;
  &_light {
    color: $color-text-light;
  }
  &_dark {
    color: $color-text-dark;
  }
}

.item {
  margin-right: 3rem;
}

.item:last-of-type {
  margin-right: 1rem;
}
