@import "../../../styles/variables.scss";

.score {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
    transition: all 0.5s;
  }
  &_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: black;
  }
  &_category {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    border-radius: 4rem;
  }
  &_category_1 {
    background: #e3ddfe;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: #8d79fd;
    }
  }
  &_category_2 {
    background: #ffeecd;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: #feb941;
    }
  }
  &_category_3 {
    background: #dceced;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: #8de0ba;
    }
  }
  &_category_4 {
    background: #ede3dc;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: #756f6b;
    }
  }
  &_result {
    background: yellow;
    width: 80%;
    height: 6rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }
  &_progress {
    display: block;
    background: green;
    opacity: 0.5;
    height: 6rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    transition: all .5s;
  }
  &_result_1 {
    background: #e3ddfe;
  }
  &_result_2 {
    background: #ffeecd;
  }
  &_result_3 {
    background: #dceced;
  }
  &_result_4 {
    background: #ede3dc;
  }
  &_value {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
  }
}
