@import "../../../styles/variables.scss";

.score {
  margin: 1rem;
  margin-top: 5rem;
  &_inner {
    width: 100%;
    border: 1px solid white;
    border-radius: 4rem;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
    transition: all 0.5s;
  }
  &_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: black;
  }
  &_category {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    border-radius: 4rem;
  }
  &_category_1 {
    background: $color-noun;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: $hover-noun;
    }
  }
  &_category_2 {
    background: $color-adjective;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: $hover-adjective;
    }
  }
  &_category_3 {
    background: $color-verb;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: $hover-verb;
    }
  }
  &_category_4 {
    background: $color-other;
    transition: all 0.5s;
    &:hover {
      opacity: 0.5;
      background: $hover-other;
    }
  }
  &_result {
    background: yellow;
    width: 80%;
    height: 6rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }
  &_progress {
    display: block;
    background: green;
    opacity: 0.5;
    height: 6rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    transition: all 0.5s;
  }
  &_result_1 {
    background: $color-noun;
  }
  &_result_2 {
    background: $color-adjective;
  }
  &_result_3 {
    background: $color-verb;
  }
  &_result_4 {
    background: $color-other;
  }
  &_value {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
  }
}
